<p>Hej {{person}}!</p>
<p>Du har {{books.length}} bøger</p>

{{#if books}}
<ul>
    {{#each books}}
    <li style="list-style:circle;">
        <p>{{this.title}}</p>
        <p>{{this.iban}} - {{this.description}}</p>
    </li>
    {{/each}}
</ul>
{{else}}
<p>Du har ingen bøger!</p>
{{/if}}

<form action="/add" method="post">
<input type="text" placeholder="title" name="title" id="title" required/>
<input type="text" placeholder="iban" name="iban" id="iban" required/>
<input type="text" placeholder="description" name="description" id="descroption"/>
<button type="submit">opret bog</button>
</form>